<%= link_to article_path(article), class: "article" do %>
	<div class="card_article" id="article">
		<% if article.photo.attached? %>
			<%= cl_image_tag article.photo.key, crop: :fill, style: "width: 100%", class:"align-middle"%>
		<% else %>
			<%= image_tag "filler_picture.jpg", alt: "alttext", crop: :fill, style: "height:400px; width: auto", class:"align-middle"%>
		<% end %>
		<div class="p-2 card-content">
			<p class="title"><%= article.title %></p>
			<div class="d-flex justify-content-between align-items-center">
				<p class="author m-0">By <%= article.author %></p>
				<div class="card_icons">
					<% if current_user.find_liked_items.include?(article) %>
					   <%= link_to unlike_article_path(article), method: :put do %>
				         <i class="fas fa-trash-alt buttons img-fluid"></i>
					    <% end %>
					<% else %>
                       <%= link_to like_article_path(article), method: :put do %>
						<i class="far fa-bookmark buttons" id="favorite"></i>
				       <% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
