<div class="container">
  <div class="row pt-5">
    <div class="col col-md-2">
      <%= link_to articles_path, class: "buttons article-back-button" do %>
        <i class="fas fa-arrow-left mr-3"></i><span>See other articles</span>
      <% end %>
    </div>
    <div class="col col-md-8">
      <!-- <div class="article_img"> -->
        <% if @article.photo.attached? %>
          <%= cl_image_tag @article.photo.key, crop: :fill, class: "article-picture"%>
        <% else %>
          <%= image_tag "filler_picture.jpg", alt: "alttext", crop: :fill, class:"article-picture"%>
        <% end %>
  <!-- </div> -->
      <div class="article_info">
        <h1 class="art_title"><%= @article.title %></h1>
        <p class="art_author">By <%= @article.author %></p>
      </div>
      <div class="pb-5">
        <p class="paragraph article-paragraph"><%= @article.content %></p>
      </div>
    </div>
  </div>
</div>
