<div class="article-banner">
    <div class="article_img">
      <% if @article.photo.attached? %>
        <%= cl_image_tag @article.photo.key, crop: :fill, style: "width: 100%", class:"align-middle"%>
      <% else %>
        <%= image_tag "filler_picture.jpg", alt: "alttext", crop: :fill, style: "height:400px; width: auto", class:"align-middle"%>
      <% end %>
    </div>
    <div class="content-container">
      <div class="article_info">
        <h1 class="art_title"><%= @article.title %></h1>
        <p class="art_author">By <%= @article.author %></p>
      </div>
      <div>
        <p class="paragraph">
         <%= @article.content %>
        </p>
        <%= link_to 'Edit this article', edit_article_path, class: "buttons" %>
        <%= link_to 'See other articles', articles_path, class: "buttons" %>
    </div> 
    </div>
</div>
