<% @field_names = Field.pluck(:name) %>
<% @process_names = Typology.pluck(:process_name).uniq %>

<div class="navbar logged pos-f-t">
 <!--  <div class="d-flex justify-content-between"> -->
    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo_white.png" %>
      <% end %>
      <span class="explore_icons">
        <%= link_to "Dashboard".html_safe, dashboard_path %>
        <%= link_to "Latest news".html_safe, articles_path %>
      </span>
    </div>

        <form action="/typologies" method="get">
          <div class="d-flex flex-row align-items-end">
            <div class="form-row text-navbar mr-3">
              <div class="col-auto">
                <!-- <div><label for="field_name">Choose a field...</label></div> -->
                <div>
                  <select name="field_name" class="js-example-responsive select2 mx-2" data-placeholder="Select a field">
                    <option></option>
                    <% @field_names.each do |field_name| %>
                      <option value="<%= field_name %>"><%= field_name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row text-navbar mr-3">
              <div class="col-auto">
                <!-- <div><label for="process_name">... and a process</label></div> -->
                <div>
                  <select name="process_name" class="js-example-responsive select2 mx-2" data-placeholder="Select a process">
                    <option></option>
                    <% @process_names.each do |process_name| %>
                      <option value="<%= process_name %>"><%= process_name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary py-0" style="height:30px;" id="launch-benchmark">Launch benchmark</button>
          </div>
        </form>

 <!--  </div> -->
  <div class="navbar-buttons">
    <%= image_tag "Avatar.JPG", class: "avatar img"%>
  	<%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>

</div>
