<% @field_names = Field.pluck(:name) %>
<% @process_names = Typology.pluck(:process_name).uniq %>

<div class="navbar logged pos-f-t">
	<%= link_to root_path, class: "navbar-brand" do %>
		<%= image_tag "logo_white.png" %>
	<% end %>
  <div class="d-flex justify-content-around">
    <div class="explore_icons">
      <%= link_to "<i class='fas fa-columns'></i> My dashboard".html_safe, dashboard_path %>
    </div>
    <div class="explore_icons">
      <%= link_to "<i class='fas fa-search'></i> Latest news".html_safe, articles_path %>
    </div>
  </div>

  <form action="/typologies" method="get">
    <div class="form-row align-items-end px-4 pb-4 text-navbar">
      <div class="col-auto">
        <label for="field_name">Field</label>
        <select name="field_name" class="form-control navbar-benchmark">
          <% @field_names.each do |field_name| %>
            <option><%= field_name %></option>
          <% end %>
        </select>
      </div>
      <div class="form-row align-items-center px-4">
        <label for="process_name">Process</label>
        <select name="process_name" class="form-control navbar-benchmark">
          <% @process_names.each do |process_name| %>
            <option><%= process_name %></option>
          <% end %>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary align-bottom py-1 px-4 br-3" id="launch-benchmark">See benchmark!</button>
      </div>
    </div>
  </form>
  <div class="navbar-buttons">
  	<%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>

</div>



