<% @field_names = Field.pluck(:name) %>
<% @process_names = Typology.pluck(:process_name).uniq %>

<div class="navbar logged pos-f-t">
 <!--  <div class="d-flex justify-content-between"> -->
    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo_white.png" %>
      <% end %>
      <span class="explore_icons">
        <%= link_to "Dashboard".html_safe, dashboard_path %>
        <%= link_to "Latest news".html_safe, articles_path %>
      </span>
    </div>

        <form action="/typologies" method="get">
          <div class="d-flex flex-row">
            <div class="form-row align-items-end px-3  py-2 text-navbar">
              <select name="field_name" class="js-example-responsive select2 mx-2">
                <% @field_names.each do |field_name| %>
                  <option value="<%= field_name %>"><%= field_name %></option>
                <% end %>
              </select>
            </div>
            <div class="form-row align-items-end px-3 py-2 text-navbar">
              <select name="process_name" class="js-example-responsive select2 mx-2">
                <% @process_names.each do |process_name| %>
                  <option value="<%= process_name %>"><%= process_name %></option>
                <% end %>
              </select>
              <button type="submit" class="btn btn-primary br-3 h-75 mx-4" id="launch-benchmark">Launch benchmark</button>
            </div>
          </div>
        </form>

 <!--  </div> -->
  <div class="navbar-buttons">
    <%= image_tag "Avatar.JPG", class: "avatar img"%>
  	<%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>

</div>
