<% content_for(:html_title) { 'UX-Comparator' } %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path 'banner1.jpg'%>)">
  <div class="pb-4 mb-2">
    <h4 style="color: white;">Identify UX quick-wins with just a few clicks.<h4>
  </div>
	<%=  image_tag("logo_tagline_white.png", alt: "Edit Entry") %>
  <%= link_to dashboard_path do %>
    <button type="button" class="btn btn-primary py-0" style="height:40px;">My dashboard</button>
  <% end %>

</div>

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="icons-container">
        <div class="icon">
          <%=  image_tag("speed.png", alt: "Edit Entry") %>
          <p>Improve your KPIs</p>
        </div>
          <div class="icon">
          <%=  image_tag("up.png", alt: "Edit Entry") %>
          <p>Grow your business</p>
        </div>
          <div class="icon">
          <%=  image_tag("lightbulb.png", alt: "Edit Entry") %>
          <p>Get inspired</p>
        </div>
          <div class="icon">
          <%=  image_tag("sport-team.png", alt: "Edit Entry") %>
          <p>Work with your team</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h3 class='home-subtitle mb-4 text-center'>They jumped the gun</h3>
      <div class="perso-cards__container mb-5">
        <div class="perso-cards mx-1">
          <%=  image_tag("charles.jpg", alt: "Edit Entry") %>
          <div class="text">
            <h4>Charles, 29</h4>
            <h5>CEO chez Millesime Manager</h5>
            <p>'UX Comparator changed my life! With the diversity of resources, I was able to quickly compare my company's UX to my competitors' and becoming #1 on the wine market.'</p>
          </div>
        </div>
        <div class="perso-cards mx-1">
          <%=  image_tag("portrait2.jpg", alt: "Edit Entry") %>
          <div class="text">
            <h4>Pierre, 27</h4>
            <h5>CEO chez FrenchyWeb</h5>
            <p>'Thanks to UX Comparator, we identified pain points on our subscription process and doubled our customer base.'</p>
          </div>
        </div>
        <div class="perso-cards mx-1">
          <%=  image_tag("portrait3.jpg", alt: "Edit Entry") %>
          <div class="text">
            <h4>Henri, 47</h4>
            <h5>Directeur chez Karma</h5>
            <p>'Thanks to UX Comparator, I managed to get up-to-date on UX's best practices and improve my customers' satisfaction.'</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
