<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path 'banner1.jpg'%>)">
	<%=  image_tag("logo_tagline_white.png", alt: "Edit Entry") %>
	<%= link_to "Join us", dashboard_path %>
</div>

	<div class="icons-container">
  	<div class="icon">
  		<%=  image_tag("speed.png", alt: "Edit Entry") %>
  		<p>Gain in performance</p>
  	</div>
  		<div class="icon">
  		<%=  image_tag("up.png", alt: "Edit Entry") %>
  		<p>Grow your business</p>
  	</div>
  		<div class="icon">
  		<%=  image_tag("lightbulb.png", alt: "Edit Entry") %>
  		<p>Get inspired</p>
  	</div>
  		<div class="icon">
  		<%=  image_tag("sport-team.png", alt: "Edit Entry") %>
  		<p>Get technical skills</p>
  	</div>
  </div>
  <div class="container mt-5">
	 <h3>They jumped the gun</h3>
  </div>
  <div class="perso-cards__container">
		<div class="perso-cards">
			<%=  image_tag("portrait1.jpg", alt: "Edit Entry") %>
			<div class="text">
				<h4>Jennifer, 32 ans</h4>
				<h5>Product Manager chez Etsy</h5>
				<p>"UX Comparator changed my life! With the diversity of resources, I was able to grow my small business in just a few clicks. “</p>
			</div>
    </div>
		<div class="perso-cards">
			<%=  image_tag("portrait2.jpg", alt: "Edit Entry") %>
			<div class="text">
				<h4>Théobald CEO, 27 ans</h4>
				<h5>CEO chez Cheffing</h5>
				<p>"Thanks to UX Comparator and some personalized advice, we've doubled our customer base. Result: I got a promotion! “</p>
			</div>
	  </div>
		<div class="perso-cards">
			<%=  image_tag("portrait3.jpg", alt: "Edit Entry") %>
			<div class="text">
				<h4>Charles, 47 ans</h4>
				<h5>Directeur chez Karma</h5>
				<p>"With the advent of the internet and the various digital tools, I felt overwhelmed. Thanks to UX Comparator, I managed to meet new opportunities! “</p>
			</div>
		</div>
  </div>

