<% content_for(:html_title) { 'Personal dashboard | UX-Comparator' } %>

<!--      MODAL BUTTON
 --><!-- <button type="button" class="buttons" id="rating-button" data-toggle="modal" data-target="#exampleModal">TOP 20 companies rating</button> -->

<div class="dashboard-container container">
  <% @field_names = Field.pluck(:name) %>
  <% @process_names = Typology.pluck(:process_name).uniq %>

  <div class="info-container bd-highlight">

    <div class="col-lg-9">
      <div class="py-4 flex-grow-1 bd-highlight">
        <div class="d-flex flex-row align-items-middle">
          <div class="d-inline"><i class="fas fa-compress-alt p-2"></i></div>
          <div class="d-inline"><h3>My favorite benchmarks</h3></div>
        </div>

        <div class="bench-cards__container">
          <% @count_favorite_typologies = 0 %>
          <% current_user.find_liked_items.each do |typology| %>
            <% if typology.class == Typology %>
              <% @count_favorite_typologies += 1 %>
              <div class="">
                <%= link_to typologies_path(params:{field_name:typology.field.name, process_name:typology.process_name}) do %>
                  <div class="card_benchmark">
                    <div class="bench_img <%= typology.field.name %>"></div>
                    <div class="bench_icons">
                      <div class="bench_button">
                        <p><%= typology.field.name %></p>/
                        <p> <%= typology.process_name %> </p>
                      </div>
                      <%= link_to unlike_typology_path(typology), method: :put do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <% if @count_favorite_typologies == 0 %>
          <div class="p-4">
            <h5>No favorite benchmarks yet. Let's fix this and get started! 😎</h5>
          </div>
          <div class="pl-4 pb-4 mb-5">
            <form action="/typologies" method="get">
              <div class="d-flex flex-row align-items-end">
                <div class="form-row text-navbar mr-3">
                  <div class="col-auto">
                    <!-- <div><label for="field_name">Choose a field...</label></div> -->
                    <div>
                      <select name="field_name" class="js-example-responsive select2 mx-2" data-placeholder="Select a field">
                        <option></option>
                        <% @field_names.each do |field_name| %>
                          <option value="<%= field_name %>"><%= field_name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-row text-navbar mr-3">
                  <div class="col-auto">
                    <!-- <div><label for="process_name">... and a process</label></div> -->
                    <div>
                      <select name="process_name" class="js-example-responsive select2 mx-2" data-placeholder="Select a process">
                        <option></option>
                        <% @process_names.each do |process_name| %>
                          <option value="<%= process_name %>"><%= process_name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-primary py-0" style="height:30px;" id="launch-benchmark">Launch benchmark</button>
              </div>
            </form>
          </div>
        <% end %>

        <div class="d-flex flex-row align-items-middle">
          <div class="d-inline"><i class="fas fa-bookmark p-2"></i></div>
          <div class="d-inline"><h3>My favorites articles</h3></div>
        </div>

        <div class="perso-cards__container">
          <% @count_favorite_articles = 0 %>
          <% current_user.find_liked_items.each do |article| %>
            <% if article.class == Article %>
              <% @count_favorite_typologies += 1 %>
              <div class="">
                <%= link_to article_path(article), class: "" do %>
                  <% if article.photo.attached? %>
		                <div class="dash-card-article" style="background-image:url(<%= cl_image_path article.photo.key %>);">
                  <% else %>
                    <div class="dash-card-article" style="background-image:url(<%= image_path 'filler_picture.jpg' %>);">
                  <% end %>
                      <div class="dash-card-article">
                        <div class="dash-content" id="dash-content-sm">
                          <p class="title"><%= article.title %></p>
                          <p><%= article.content.first(200)%>...</p>
                          <div class="dash-icons">
                            <%= link_to unlike_article_path(article), method: :put do %>
                              <i class="fas fa-trash-alt"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <% if @count_favorite_articles == 0 %>
          <div class="d-flex align-items-center">
            <div class="p-4">
              <h5>No favorite articles yet. Let's get food for thought! 🤔</h5>
            </div>
            <div class="p-4">
              <%= link_to articles_path, class: "navbar-brand" do %>
                <button type="button" class="btn btn-outline-primary py-0" style="height:30px;">Check all articles</button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3">
	    <div class="d-flex flex-row align-items-center">
	      <div class="d-inline"><i class="fas fa-book-open"></i></div>
	      <div class="d-inline p-2"><h3>Latest news</h3></div>
	      <div class="d-inline"><%= link_to " (see all articles)", articles_path %></div>
	    </div>
	    <div class="art-cards__container">
	      <% @articles.last(2).each do |article| %>
	          <%= link_to article_path(article), class: "" do %>
              <% if article.photo.attached? %>
	              <div class="dash-card-article" style="background-image:url(<%= cl_image_path article.photo.key %>);">
							<% else %>
                <div class="dash-card-article" style="background-image:url(<%= image_path "filler_picture.jpg" %>);">
              <% end %>
                <div class="dash-content">
	              	<p class="title"><%= article.title %></p>
	              	<p><%= article.content.first(200)%>...</p>
		              <div class="card_icons dash-icons">
		                <% if current_user.find_liked_items.include?(article) %>
		                  <%= link_to unlike_article_path(article), method: :put do %>
		                    <i class="fas fa-trash-alt"></i>
		                  <% end %>
		                <% else %>
		                  <%= link_to like_article_path(article), method: :put do %>
		                    <i class="far fa-bookmark"></i>
		                  <% end %>
		                <% end %>
		              </div>
								</div>
	             </div>
	          <% end %>
	        </div>
	      <% end %>
	    </div>
    </div>
  </div>

 <!--    <div class="col-lg-3">
      <div class="d-flex flex-row align-items-center">
        <div class="d-inline"><i class="fas fa-book-open"></i></div>
        <div class="d-inline p-2"><h3>Latest news</h3></div>
        <div class="d-inline"><%#= link_to " (see all articles)", articles_path %></div>
      </div>
      <div class="art-cards__container">
        <%# @articles.last(2).each do |article| %>
            <%#= link_to article_path(article), class: "" do %>
              <div class="dash-card-article">
                <div class="dash-content">
                  <p class="title"><%#= article.title %></p>
                  <p><%#= article.content.first(200)%>...</p>
                  <div class="card_icons dash-icons">
                    <%# if current_user.find_liked_items.include?(article) %>
                      <%#= link_to unlike_article_path(article), method: :put do %>
                        <i class="fas fa-trash-alt"></i>
                      <%# end %>
                    <%# else %>
                      <%#= link_to like_article_path(article), method: :put do %>
                        <i class="far fa-bookmark"></i>
                      <%# end %>
                    <%# end %>
                  </div>
                </div>
              </div>
            <%# end %>
          </div>
        <%# end %>
      </div>
    </div> -->

</div>

