<% content_for(:html_title) { 'Personnal dashboard| UX-Comparator' } %>

<!-- 	    MODAL BUTTON
 --><!-- <button type="button" class="buttons" id="rating-button" data-toggle="modal" data-target="#exampleModal">TOP 20 companies rating</button> -->

<div class="dashboard-container">
	<% @field_names = Field.pluck(:name) %>
	<% @process_names = Typology.pluck(:process_name).uniq %>


<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Top 20 companies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<table>
						<thead>
							<tr>
								<th colspan ="2">Top rating</th>
							</tr>
						</thead>
						<tbody>
							<% @companies.each do |company| %>
								<tr>
									<td><%= company.name %></td>
									<td>
									<% if company.rating == 5 %>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9733;</span>
									<% end %>
									<% if company.rating == 4 %>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9734;</span>
									<% end %>
									<% if company.rating == 3 %>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9734;</span>
										<span>&#9734;</span>
									<% end %>
									<% if company.rating == 2 %>
										<span>&#9733;</span>
										<span>&#9733;</span>
										<span>&#9734;</span>
										<span>&#9734;</span>
										<span>&#9734;</span>
									<% end %>
									<% if company.rating == 1 %>
										<span>&#9733;</span>
										<span>&#9734;</span>
										<span>&#9734;</span>
										<span>&#9734;</span>
										<span>&#9734;</span>
									<% end %>
									</td>
			          </tr>
							<% end %>
						</tbody>
				</table>
			</div>
     </div>
    </div>
  </div>

	<div class="info-container bd-highlight">
		<div class="col-lg-9">
				<div class="p-4 flex-grow-1 bd-highlight">
		    <div class="d-flex flex-row align-items-middle">
		      <div class="d-inline"><i class="fas fa-compress-alt p-2"></i></div>
		      <div class="d-inline"><h3>My favorite benchmarks</h3></div>
		    </div>


				<div class="bench-cards__container">
					<% current_user.find_liked_items.each do |typology| %>
						<% if typology.class == Typology %>
								<div class="">
					<%= link_to typologies_path(params:{field_name:typology.field.name, process_name:typology.process_name}) do %>
								<div class="card_benchmark">
									<div class="bench_img <%= typology.field.name %>"></div>
									<div class="bench_icons">
										<div class="bench_button">
											<p><%= typology.field.name %></p>/
											<p> <%= typology.process_name %> </p>
										</div>
										<%= link_to unlike_typology_path(typology), method: :put do %>
											<i class="fas fa-trash-alt"></i>
										<% end %>
									</div>
								</div>
							<% end %>
								</div>
				<% end %>
					<% end %>
				</div>

		    <div class="d-flex flex-row align-items-middle">
		      <div class="d-inline"><i class="fas fa-bookmark p-2"></i></div>
		      <div class="d-inline"><h3>My favorites articles</h3></div>
		    </div>

		    <div class="perso-cards__container">
		      <% current_user.find_liked_items.each do |article| %>
		        <% if article.class == Article %>
		          <div class="">
		            <%= link_to article_path(article), class: "" do %>
		                <div class="dash-card-article" style="background-image:url(<%= cl_image_path article.photo.key %>);">
			                <div class="dash-content" id="dash-content-sm">
				                <p class="title"><%= article.title %></p>
				                <p><%= article.content.first(200)%>...</p>
					                <div class="dash-icons">
					                  <%= link_to unlike_article_path(article), method: :put do %>
					                    <i class="fas fa-trash-alt"></i>
					                  <% end %>
			                 		</div>
			                </div>
			            <% end %>
		                </div>
		          </div>
		        <% end %>
		      <% end %>
		    </div>
			</div>
	  </div>

	    <div class="col-lg-3">
		    <div class="d-flex flex-row align-items-center">
		      <div class="d-inline"><i class="fas fa-book-open"></i></div>
		      <div class="d-inline p-2"><h3>Latest news</h3></div>
		      <div class="d-inline"><%= link_to " (see all articles)", articles_path %></div>
		    </div>
		    <div class="art-cards__container">
		      <% @articles.last(2).each do |article| %>
		          <%= link_to article_path(article), class: "" do %>
		            <div class="dash-card-article" style="background-image:url(<%= cl_image_path article.photo.key %>);">
									<div class="dash-content">
		              	<p class="title"><%= article.title %></p>
		              	<p><%= article.content.first(200)%>...</p>
			              <div class="card_icons dash-icons">
			                <% if current_user.find_liked_items.include?(article) %>
			                  <%= link_to unlike_article_path(article), method: :put do %>
			                    <i class="fas fa-trash-alt"></i>
			                  <% end %>
			                <% else %>
			                  <%= link_to like_article_path(article), method: :put do %>
			                    <i class="far fa-bookmark"></i>
			                  <% end %>
			                <% end %>
			              </div>
									</div>
		             </div>
		          <% end %>
		        </div>
		      <% end %>
		    </div>
	    </div>

	</div>
</div>
