<div class="info-container bd-highlight">
	<div class="p-4 bd-highlight flex-column" id="rating">
    <div>
		  <h3>Top rating</h3>
    </div>
    <div>
			<ul>
			<% @companies.each do |company| %>
			<div>
				<li>
				<%= company.name %>
				<% if company.rating == 5 %>
					<span>&#9733;</span>
					<span>&#9733;</span>
					<span>&#9733;</span>
					<span>&#9733;</span>
					<span>&#9733;</span>
				<% end %>
				<% if company.rating == 4 %>
					<span>&#9733;</span>
					<span>&#9733;</span>
					<span>&#9733;</span>
					<span>&#9733;</span>
				<% end %>
				<% if company.rating == 3 %>
					<span>&#9733;</span>
					<span>&#9733;</span>
					<span>&#9733;</span>
				<% end %>
				<% if company.rating == 2 %>
					<span>&#9733;</span>
					<span>&#9733;</span>
				<% end %>
				<% if company.rating == 1 %>
					<span>&#9733;</span>
				<% end %>
				<%= "#{company.rating} /5" %>
				</li>
				</div>
			<% end %>
			</ul>
		</div>
	</div>
  <div class="">
	  <h3>Benchmark list</h3>
	  <p>Accéder à votre benchmark sur les opérateurs téléphones</p>
	    <%# <i class="fas fa-bookmark"></i> %>
	  <h3 class="fas fa-bookmark">Favorites articles</h3>
	  <%= link_to "Add your favorites articles", articles_path %>
		<% current_user.find_liked_items.each do |article| %>
			<div class="dashboard-cards">
		    <%= render 'articles/article-card', article: article %>
			</div>
	  <% end %>
	 	<h3>Last news</h3>
	  <div class="dashboard-cards">
	    <% @articles.last(3).each do |article| %>
			  <%= render 'articles/article-card', article: article %>
			<% end %>
	  </div>
  </div>
</div>