<% content_for(:html_title) { 'Benchmark | UX-Comparator' } %>

<%if params[:field_name].nil? || params[:process_name].nil? || params[:field_name] == "" || params[:process_name] == "" %>
  <div class="text-center m-4 p-4">
    <h3>Get started!</h3>
    <h4>Create your first benchmark by filling the two fileds of the form 😎</h4>
  </div>

  <div class="d-flex container justify-content-center">
    <form action="/typologies" method="get">
      <div class="d-flex flex-row align-items-end">
        <div class="form-row text-navbar mr-3">
          <div class="col-auto">
            <!-- <div><label for="field_name">Choose a field...</label></div> -->
            <div>
              <select name="field_name" class="js-example-responsive select2 mx-2" data-placeholder="Field">
                <option></option>
                <% @field_names.each do |field_name| %>
                  <option value="<%= field_name %>"><%= field_name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row text-navbar mr-3">
          <div class="col-auto">
            <!-- <div><label for="process_name">... and a process</label></div> -->
            <div>
              <select name="process_name" class="js-example-responsive select2 mx-2" data-placeholder="Process">
                <option></option>
                <% @process_names.each do |process_name| %>
                  <option value="<%= process_name %>"><%= process_name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary py-0" style="height:30px;" id="launch-benchmark">Launch benchmark</button>
        </div>
      </div>
    </form>
  </div>

  <div class="m-5 p-5">
    <%= image_tag("og_logo_black.png") %>
  </div>


  <% else %>

  <% @field = Field.find_by(name: params[:field_name]) %>
  <% @process_name = params[:process_name] %>
  <% @typologies = policy_scope(Typology).where(process_name: @process_name, field: @field) %>
  <% @companies = Company.where(field: @field) %>

  <div class="container d-flex justify-content-end pt-4 text-right align-middle">
    <%= render 'copy_url' %>
    <div id="bookmark" class="mx-2">
      <%= render 'bookmark', typologies: @typologies %>
    </div>
  </div>

  <div class="container pt-4">
    <table class="table table-striped text-center align-middle benchmark-table">
      <tr>
        <th class="align-middle" style="height:10px;"></th>
        <% @companies.each do |company| %>
          <% if current_user.company == company.name %>
            <th id="user-company-title">
              <div id="user-company">
                <%= company.name %>
              </div>
            </th>
          <% else %>
            <% if company.name == "Free" %>
              <th class="align-middle">
                <%= image_tag "free.png", style:"height:70px;" %>
              </th>
            <% elsif company.name == "SFR"%>
              <th class="align-middle" style="background-color: rgb(235,235,235);">
                <%= image_tag "sfr.png", style:"height:60px;" %>
              </th>
            <% elsif company.name == "Orange"%>
              <th class="align-middle">
                <%= image_tag "orange.png", style:"height:60px;" %>
              </th>
            <% elsif company.name == "Bouygues Telecom"%>
              <th class="align-middle">
                <%= image_tag "bouygues.jpg", style:"height:90px;" %>
              </th>
            <% else %>
              <th>
                <%= company.name %>
              </th>
            <% end %>
            </th>
          <% end %>
        <% end %>
      </tr>
      <% @typologies.each do |typology| %>
        <tr>
          <th class="align-middle"><%= typology.title %></th>
          <% @companies.each do |company| %>
            <% if company.name == "SFR" %>
              <td class="align-middle" style="background-color: rgb(235,235,235);">
                <div>
                  <%= Indicator.find_by(typology: typology, company: company).content %>
                </div>
              </td>
              <% else %>
                <td>
                  <div>
                    <%= Indicator.find_by(typology: typology, company: company).content %>
                  </div>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="container p-1">
    <p class="text-center" style="color: #28288D"><em>This benchmark was created with data collected by the UX-Comparator team</em></p>
  </div>
<% end %>
